<!-- Shop -->
<div class="player">
  Player, Gold Left: {{ player.gold() }}

  <div class="inventory">
    @for (row of player.chars.getValue()[0].inventory.itemsGrid.state$ | async; track $index) {
      <div class="row">
        @for (item of row; track $index) {
          <div class="cell" (click)="handlePlayerSlotClicked(item)">
            @let slot = item.slot$ | async;

            @if (slot) {
              {{ slot.params.base.name }}
            }
          </div>
        }
      </div>
    }
  </div>

  @let selectedPlayerSlot = activePlayerSlot();
  @let selectedPlayerItem = selectedPlayerSlot?.slot$ | async;

  @if (selectedPlayerItem) {
    {{ selectedPlayerItem.params.base.name }}
    Sell for 1-5 gold

    <button (click)="sellItem()">Sell</button>
  }
</div>

<div class="shop-container">
  Trader:
  <div class="inventory">
    @for (row of shopArea.itemsGrid.state$ | async; track $index) {
      <div class="row">
        @for (item of row; track $index) {
          <div class="cell" (click)="activeShopItem.set(cell)">
            @let cell = item.cell$ | async;

            @if (cell) {
              {{ cell.item.params.base.name }}
            }
          </div>
        }
      </div>
    }
  </div>

  @let selectedShopItem = activeShopItem();
  @if (selectedShopItem) {
    <div class="item">
      {{ selectedShopItem.item.params.base.name }}
      Cost: {{ selectedShopItem.goldCost }}
    </div>

    <button [disabled]="player.gold() < selectedShopItem.goldCost" (click)="buyItem()">Buy</button>
  }
</div>

<button (click)="startBattle()">Start battle</button>
