<!-- Shop -->
<div class="player">
  Player, Gold Left: {{ player.gold() }}
  @let char = player.chars.getValue()[0];
  {{ char.params.base.name }}

  <div class="inventory">
    @for (row of char.inventory.itemsGrid.state$ | async; track $index) {
      <div class="row">
        @for (item of row; track $index) {
          <div class="cell" (click)="handlePlayerSlotClicked(item)">
            @let slotItem = item.slot$ | async;

            @if (slotItem) {
              <app-item-icon [item]="slotItem" [showSellPrice]="true" />
            }
          </div>
        }
      </div>
    }
  </div>

  @let selectedPlayerSlot = activePlayerSlot();
  @let selectedPlayerItem = selectedPlayerSlot?.slot$ | async;

  @if (selectedPlayerItem) {
    <div class="item-description">
      {{ selectedPlayerItem.getDescription() }}
    </div>

    <div>
      Sell for {{ selectedPlayerItem.sellPrice() }} gold

      <button (click)="sellItem()">Sell</button>
    </div>
  }
</div>

<div class="shop-container">
  <div>
    <div>Trader:</div>

    <div class="inventory">
      @for (row of shopArea.itemsGrid.state$ | async; track $index) {
        <div class="row">
          @for (item of row; track $index) {
            <div class="cell" (click)="activeShopItem.set(cell)">
              @let cell = item.cell$ | async;

              @if (cell) {
                <app-item-icon [item]="cell.item" attachment="right" [showCost]="true" />
              }
            </div>
          }
        </div>
      }
    </div>
  </div>

  @let selectedShopItem = activeShopItem();
  @if (selectedShopItem) {
    <div class="item">
      <div class="item-description">{{ selectedShopItem.item.getDescription() }}</div>

      <div>
        Cost: {{ selectedShopItem.item.buyPrice() }}
        <button [disabled]="player.gold() < selectedShopItem.item.buyPrice()" (click)="buyItem()">
          Buy
        </button>
      </div>
    </div>
  }
</div>

<div class="actions">
  <button (click)="startBattle()">Start battle</button>
</div>
