.shop-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.inventory {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;

    .cell {
      $cell-size: 48px;
      // background: #ff6200;
      // background: radial-gradient(
      //   circle,
      //   rgba(142, 171, 233, 0.247) 0%,
      //   rgba(104, 152, 224, 0.171) 25%,
      //   rgba(234, 255, 0, 0) 100%
      // );
      width: $cell-size;
      height: $cell-size;

      border: 1px solid white;

      font-size: 12px;
      position: relative;

      app-item-icon {
        width: 100%;
        height: 100%;
        image-rendering: pixelated;
      }

      .item-amount {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.item-description {
  display: inline-block;
  white-space: pre;
  border: 1px solid gray;
  min-width: 300px;
  text-align: center;
}

.actions {
  position: fixed;
  left: 50%;
  translate: -50%;
  bottom: 30px;
}
