<div class="players">
  @for (player of gameStateService.players; track $index) {
    <div class="player">
      @for (char of player.chars | async; track $index) {
        {{ char.params.base.name }}

        @let state = (char.stateSubject$ | async)!;

        <img
          class="char-img"
          [class.inverted]="player.params.controlable"
          [src]="char.base.imgSrc"
          alt=""
        />

        <div class="health">
          Health:
          {{ state.health }}/{{ state.maxHealth }}
        </div>

        <div class="inventory">
          @for (invRow of char.inventory.itemsGrid.state$ | async; track $index) {
            <div class="inv-row">
              @for (invCell of invRow; track $index) {
                @let invItem = invCell.slot$ | async;
                <div class="inv-cell">
                  @if (invItem) {
                    <app-item-icon [item]="invItem" />
                  } @else {}
                </div>
              }
            </div>
          }
        </div>

        <hr />

        <div class="activity-sources-container">
          Set Activities:
          @for (source of char.params.base.activitySources; track $index) {
            <div class="source">{{ source.name }} ({{ source.shortName }})</div>
          }
        </div>

        <hr />

        @let battleActions = char.battleActions$ | async;

        <button (click)="rerollCharActions(char)" [disabled]="!char.rerollsLeft()">
          Rerolls left: {{ char.rerollsLeft() }}
        </button>

        <div class="actions">
          @for (action of battleActions?.battleActions; track $index) {
            @switch (action.type) {
              @case ('char') {
                <div class="action">
                  {{ char.params.base.name }} - {{ action.params.action.name }}

                  @let actionSource = action.params.activity;
                  @if (actionSource) {
                    -
                    {{ actionSource.source.name }}
                  }
                </div>
              }
              @case ('item') {
                <div class="action">
                  {{ action.params.item.base.name }} - {{ action.params.action.name }}

                  @let actionSource = action.params.source;
                  @if (actionSource) {
                    -
                    {{ actionSource.source.name }}
                  }
                </div>
              }
              @case ('charSpell') {
                {{ char.base.name }} - {{ action.params.spell.base.name }}
              }
            }
          }
        </div>
      }
    </div>
  }
</div>

<div class="battle-panel">
  <div class="history">
    @for (entry of history.value$ | async; track $index) {
      <div class="entry">
        {{ entry }}
      </div>
    }
  </div>

  @if (isFightOver()) {
    <div>The fight is over!</div>

    <div>Winner:</div>

    <div class="winner-chars">
      @for (char of winner()?.chars | async; track $index) {
        <div class="winner" [style.background]="winner()?.color()">
          <img
            [src]="char.base.imgSrc"
            class="char-img medium"
            [class.inverted]="winner()?.params?.controlable"
          />
        </div>
      }
    </div>
  }

  <div class="round-info">
    @if (round() === 0) {
      Begin the fight
    } @else {
      Round {{ round() }}
    }
  </div>

  <div class="battle-actions">
    @for (action of battleActions(); track $index) {
      <div
        class="battle-action"
        [class.performed]="action.performed()"
        [style.background-color]="action.player.color()"
      >
        <img
          [src]="action.char.base.imgSrc"
          class="char-img medium"
          [class.inverted]="action.player.params.controlable"
        />
        <div>
          {{ action.char.base.name }}
        </div>
        <hr />
        @switch (action.activity.type) {
          @case ('char') {
            <img [src]="action.activity.params.action.imgSrc ?? 'images/common/action.png'" alt="" class="action-img" />

            <div>
              {{ action.activity.params.action.name }}
            </div>
          }
          @case ('item') {
            <app-item-icon [item]="action.activity.params.item" [showHoverDescription]="false" />
            <div>
              {{ action.activity.params.action.name }}
            </div>
          }
          @case ('charSpell') {
            <img [src]="action.activity.params.spell.base.imgSrc"  class="action-img"/>

            <div>
              {{ action.activity.params.spell.base.name }}
            </div>
          }
        }

        @if (action.performed()) {
          <hr />
          Performed
        }

        <hr />

        <div class="history">
          @for (entry of action.history.value$ | async; track $index) {
            {{ entry }}
          }
        </div>
      </div>
    }
  </div>

  @if (!isFightOver()) {
    <button (click)="beginFight()" [disabled]="isFightInProgress()">
      {{ !isFightInProgress() ? 'Begin fight' : 'Wait' }}
    </button>
  } @else {
    <button (click)="leaveTheBattle()">Leave the battle</button>
  }
</div>
