<div class="players">
  @for (player of gameStateService.players; track $index) {
    <div class="player">
      @for (char of player.chars.value(); track $index) {

        <div class="inventory">
          @for (invRow of char.inventory.itemsGrid.state.value(); track $index) {
            <div class="inv-row">
              @for (invCell of invRow; track $index) {
                @let invItem = invCell.slot.value();
                <div class="inv-cell">
                  @if (invItem) {
                    <app-item-icon [item]="invItem" />
                  } @else {}
                </div>
              }
            </div>
          }
        </div>

        @let battleActions = char.battleActions.value();

        <div>Select Actions (Points left: {{ char.battleState.value().actionPoints }})</div>

        <button (click)="rerollCharActions(char)" [disabled]="!char.rerollsLeft()">
          Rerolls left: {{ char.rerollsLeft() }}
        </button>

        <div class="actions">
          @for (action of battleActions?.battleActions; track $index) {
            @let charBattleState = char.battleState.value()!;
            <div
              class="action"
              (click)="char.toggleBattleActionSelected(action)"
              [class.selected]="action.isSelected()"
              [class.disabled]="
                (!action.isSelected() &&
                  charBattleState.actionPoints < (action.requirements.actionPoints ?? 0)) ||
                isFightInProgress()
              "
            >
              @switch (action.type) {
                @case ('char') {
                  <img
                    [src]="action.params.action.imgSrc ?? 'images/common/action.png'"
                    alt=""
                    class="action-img"
                  />

                  {{ action.params.action.name }}

                  @let actionSource = action.params.activity;
                  @if (actionSource) {
                    -
                    {{ actionSource.source.name }}
                  }
                }
                @case ('item') {
                  <app-item-icon [item]="action.params.item" />
                  {{ action.params.action.name }}

                  @let actionSource = action.params.source;
                  @if (actionSource) {
                    -
                    {{ actionSource.source.name }}
                  }
                }
                @case ('charSpell') {
                  <img [src]="action.params.spell.base.imgSrc" class="action-img" />
                  {{ char.base.name }} - {{ action.params.spell.base.name }}
                }
              }
              <div>| Points: {{ action.requirements.actionPoints ?? 0 }}</div>
            </div>
          }
        </div>
      }
    </div>
  }
</div>

<div class="battle-panel">
  <div class="history">
    @for (entry of history.value(); track $index) {
      <div class="entry">
        {{ entry }}
      </div>
    }
  </div>

  @if (isFightOver()) {
    <div>The fight is over!</div>

    <div>Winner:</div>

    <div class="winner-chars">
      @for (char of winner()?.chars?.value(); track $index) {
        <div class="winner" [style.background]="winner()?.color()">
          <img
            [src]="char.base.imgSrc"
            class="char-img medium"
            [class.inverted]="winner()?.params?.controlable"
          />
        </div>
      }
    </div>
  }

  <div class="mid-players">
    @for (player of gameStateService.players; track $index) {
      <div class="player">
        @for (char of player.chars.getValue(); track $index) {
          @let state = char.charState.value()!;

          <div class="char-portrait">
            <img
              class="char-img"
              [class.inverted]="player.params.controlable"
              [src]="char.base.imgSrc"
              alt=""
            />

            <app-value-bar [value]="state.health" [maxValue]="state.maxHealth">
              {{ state.health }}/{{ state.maxHealth }}
            </app-value-bar>

            @for (msg of char.messages.value(); track $index) {
              <div class="char-msg">
                {{ msg }}
              </div>
            }
          </div>
        }
      </div>
    }
    <div class="round-info">
      @if (round() === 0) {
        Begin the fight
      } @else {
        Round {{ round() }}
      }
    </div>
  </div>

  <div class="battle-actions">
    @for (action of battleActions(); track $index) {
      <div
        class="battle-action"
        [class.performed]="action.performed()"
        [style.background-color]="action.player.color()"
      >
        <img
          [src]="action.char.base.imgSrc"
          class="char-img medium"
          [class.inverted]="action.player.params.controlable"
        />
        <div>
          {{ action.char.base.name }}
        </div>
        <hr />
        @switch (action.activity.type) {
          @case ('char') {
            <img
              [src]="action.activity.params.action.imgSrc ?? 'images/common/action.png'"
              alt=""
              class="action-img"
            />

            <div>
              {{ action.activity.params.action.name }}
            </div>
          }
          @case ('item') {
            <app-item-icon [item]="action.activity.params.item" [showHoverDescription]="false" />
            <div>
              {{ action.activity.params.action.name }}
            </div>
          }
          @case ('charSpell') {
            <img [src]="action.activity.params.spell.base.imgSrc" class="action-img" />

            <div>
              {{ action.activity.params.spell.base.name }}
            </div>
          }
        }

        @if (action.performed()) {
          <hr />
          Performed
        }

        <hr />

        <div class="history">
          @for (entry of action.history.value(); track $index) {
            {{ entry }}
          }
        </div>
      </div>
    }
  </div>

  @if (!isFightOver()) {
    <button (click)="beginFight()" [disabled]="isFightInProgress()">
      {{ !isFightInProgress() ? 'Begin fight' : 'Wait' }}
    </button>
  } @else {
    <button (click)="leaveTheBattle()">Leave the battle</button>
  }
</div>
