<div class="players">
  @for (player of gameStateService.players; track $index) {
    <div class="player">
      @for (char of player.chars | async; track $index) {
        {{ char.params.base.name }}

        @let state = (char.stateSubject$ | async)!;

        <div class="health">
          Health:
          {{ state.health }}/{{ state.maxHealth }}
        </div>

        <div class="inventory">
          @for (invRow of char.inventory.itemsGrid.state$ | async; track $index) {
            <div class="inv-row">
              @for (invCell of invRow; track $index) {
                @let invItem = invCell.slot$ | async;
                <div class="inv-cell">
                  @if (invItem) {
                    {{ invItem.params.base.name }}
                  } @else {}
                </div>
              }
            </div>
          }
        </div>

        <hr />

        <div class="activity-sources-container">
          Set Activities:
          @for (source of char.params.base.activitySources; track $index) {
            <div class="source">{{ source.name }} ({{ source.shortName }})</div>
          }
        </div>

        <hr />

        @let battleActions = char.battleActions$ | async;

        <button (click)="rerollCharActions(char)" [disabled]="!char.rerollsLeft()">
          Rerolls left: {{ char.rerollsLeft() }}
        </button>

        <div class="actions">
          @for (action of battleActions?.battleActions; track $index) {
            @switch (action.type) {
              @case ('char') {
                <div class="action">
                  {{ char.params.base.name }} - {{ action.params.activity.name }}
                </div>
              }
              @case ('item') {
                <div class="action">
                  {{ action.params.item.base.name }} - {{ action.params.action.name }}
                </div>
              }
            }
          }
        </div>
      }
    </div>
  }
</div>

<div class="battle-panel">
  <div class="history">
    @for (entry of history.value$ | async; track $index) {
      <div class="entry">
        {{ entry }}
      </div>
    }
  </div>

  <div class="round-info">
    @if (round() === 0) {
      Begin the fight
    } @else {
      Round {{ round() }}
    }
  </div>

  <div class="battle-actions">
    @for (action of battleActions(); track $index) {
      <div class="battle-action" [style.background-color]="action.player.color()">
        {{ action.player.name() }} - {{ action.char.base.name }}
        <hr />
        @switch (action.activity.type) {
          @case ('char') {
            {{ action.activity.params.activity.name }}
          }
          @case ('item') {
            {{ action.activity.params.item.base.name }}
            {{ action.activity.params.action.name }}
          }
        }

        @if (action.performed()) {
          <hr />
          Performed
        }
      </div>
    }
  </div>

  <button (click)="beginFight()" [disabled]="isFightInProgress()">
    {{ !isFightInProgress() ? 'Begin fight' : 'Wait' }}
  </button>
</div>
