:host {
  display: block;
  height: 4px;
  position: relative;
}

.bar {
  background: #000;
  height: 100%;
}

.sub-value {
  background: white;
  transition: 1s;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.value {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.label {
  position: absolute;
  left: 50%;
  bottom: 6px;
  translate: -50%;
}
