<img [src]="item().base.imgSrc" />

@let itemStats = item().state.value();

@if (item().hasDurability) {
  <app-value-bar
    [maxValue]="itemStats.maxDurability"
    [value]="itemStats.durability"
    color="orange"
  />
}

@if (item().isStackable) {
  <div class="item-amount">{{ item().amount() }}</div>
}

@if (showHoverDescription()) {
  <div class="description" [class.right]="attachment() === 'right'">
    <img class="item-preview" [src]="item().base.imgSrc" />

    @if (showCost()) {
      <div>Cost: {{ item().buyPrice() }}</div>
    }

    @if (showSellPrice()) {
      <div>Sell: {{ item().sellPrice() }}</div>
    }

    <div>
      {{ item().getDescription() }}
    </div>

    @if (item().isStackable) {
      <div>Amount: {{ item().amount() }}</div>
    }
  </div>
}
