.char {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px;
  cursor: pointer;

  img {
    image-rendering: pixelated;
    $img-size: 100px;
    width: $img-size;
    height: $img-size;

    scale: -1 1;
  }

  &.selected {
    background: rgba(0, 0, 0, 0.178);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.178);
  }
}

.scenario-description {
  margin: 20px;
}

.scenario {
  padding: 5px;
  cursor: pointer;

  &:hover,
  &.selected {
    background: rgba(22, 22, 22, 0.473);
  }
}
