<div class="scenarios">
  Pick Scenario:

  @for (scenario of scenarios; track $index) {
    <div
      class="scenario"
      [class.selected]="scenario === selectedScenario()"
      (click)="selectedScenario.set(scenario)"
    >
      {{ scenario.name }}
    </div>
  }

  <div class="scenario-description">
    Scenario Description:
    {{ selectedScenario().getDescription() }}
  </div>
</div>

<div>
  Select character:

  @for (char of characters; track $index) {
    <div
      class="char"
      [class.selected]="char === selectedCharacter()"
      (click)="selectedCharacter.set(char)"
    >
      <img [src]="char.imgSrc" alt="" />
      {{ char.name }}
    </div>
  }
</div>

@if (selectedCharacter()) {
  <div class="description">
    {{ selectedCharacter().description }}
  </div>
}

<button (click)="startGame()">Start Game</button>

<button (click)="viewsService.setActiveView(viewsService.View.MainScreen)">
  Back to Main Screen
</button>
