<div>
  Select character:

  @for (char of characters; track $index) {
    <div class="char" [class.selected]="char === selectedCharacter()" (click)="selectedCharacter.set(char)">
      <img [src]="char.imgSrc" alt="" />
      {{ char.name }}
    </div>
  }
</div>

@if (selectedCharacter()) {
  <div class="description">
    {{ selectedCharacter().description }}
  </div>
}

<button (click)="startGame()">Start Game</button>

<button (click)="viewsService.setActiveView(viewsService.View.MainScreen)">
  Back to Main Screen
</button>
